MONGO_URI=mongodb+srv://yt:ZRuWrQ4eR787tgqP@cluster1.aicnqwb.mongodb.net/contactSyncDB
PORT=5000
JWT_SECRET=3Hd7rs6IkePAxDenS6qUosv7ced1IAUFjDksJWwPW8X
VITE_API_BASE_URL=https://contactadd.onrender.com